@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body{
    font-family: "Parkinsans";
    color: white;
    background-color: rgb(22, 22, 22);
    margin: 0;
}

.card{
    background-color: rgb(38, 38, 38);
    border-radius: 10px;
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.top > h1{
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-senha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-insert{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.input-insert > label{
    padding: 3px;
}

.input-insert > input{
    width: 250px;
    height: 30px;
    background-color: rgb(120, 120, 120);
    border: none;
    border-radius: 5px;
    outline: none;
    
}

.input-insert > input::placeholder{
    color: rgb(209, 209, 209);
}

.btn{
    width: 300px;
    height: 30px;
    background-color:rgb(172, 172, 172);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Parkinsans';
    font-weight: 800;
    color: rgb(26, 26, 26);
    margin-top: 29px;
}
